<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
</head>
<body>
 
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Home</a>

						<form class="navbar-brand" th:action="@{/logout}" method="post">
							<input type="submit" value="Sign Out" />
						</form>

						<a class="navbar-brand" th:inline="text">Hello
							[[${#httpServletRequest.remoteUser}]]!</a>

					</div>
				</div>
			</nav>
 
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>MathCalculation.ml</h2>
                </div>
            </div>
            <div class="row text-center">
                 <img src="../../static/images/math.png" width="100"
                     th:src="@{/images/math.png}"/> 
            </div>
        </div>
    </div>
</div>

</body>
</html>