<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Calculation
	<div th:remove="tag" th:utext="${calculation.creationTime}"></div>
</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2>Calculation Details</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${calculation.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Creation time</label>
					<div class="col-sm-10">
						<p class="form-control-static"
							th:text="${calculation.creationTime}">Creation time</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Start time</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${calculation.startTime}">Start time</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Finish time</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${calculation.finishTime}">Finish
							time</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Status</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${calculation.status}">Status</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Output</label>
					<div class="col-sm-10">
						<a class="form-control-static"
							th:href="@{/user/} + ${p.user.id} + @{/product/} + ${p.id} + @{/} + ${calculation.id} + @{/} + ${calculation.outputFile}">Output</a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Input</label>
					<div class="col-sm-10">
						<a class="form-control-static"
							th:href="@{/user/} + ${p.user.id} + @{/product/} + ${p.id} + @{/} + ${calculation.id} + @{/} + ${calculation.inputFile}">Input</a>
					</div>
				</div>
			</form>
		</div>
		<h2>
			<a th:href="${'/user/' + p.user.id + '/product/' + p.id}">Back to <div th:remove="tag" th:utext="${p.type}"></div>
			</a>
		</h2>
	</div>

</body>
</html>