<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<title>Login</title>

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/loginHeader :: header"></th:block> /*/-->

		<h1>Please login or register to proceed</h1>

		<div th:if="${param.error}">Invalid user name and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form role="form" th:action="@{/login}" method="post">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
			<div>
				<label> User Name : <input type="text" name="email" />
				</label>
			</div>
			<div>
				<label> Password: <input type="password" name="password" />
				</label>
			</div>
			<div>
				<input type="submit" value="Log In" />
			</div>
		</form>

		<h3>
			<a th:href="@{/register}">Register</a>
		</h3>
	</div>
</body>
</html>