<!DOCTYPE html>
 <html>
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

    <title th:text="${p.type}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h1>New calculation for <div th:remove="tag" th:utext="${p.type}"></div></h1>
			
			
		<h2>Please enter new input. Press "Start calculation" button to start a new calculation. Press "Save" to save without starting.</h2>

		<form action="#" th:action="@{/user/} + ${p.user.id} + @{/product/} + ${p.id} + @{/parabola}" th:object="${inputData}" method="post">
			<table>
				<tr>
					<td>minX:</td>
					<td><input type="text" th:field="*{minX}" /></td>
					<td th:if="${#fields.hasErrors('minX')}" th:errors="*{minX}">minX
						Error</td>
				</tr>
				<tr>
					<td>maxX:</td>
					<td><input type="text" th:field="*{maxX}" /></td>
					<td th:if="${#fields.hasErrors('maxX')}" th:errors="*{maxX}">maxX
						Error</td>
				</tr>
				<tr>
					<td>factor:</td>
					<td><input type="text" th:field="*{factor}" /></td>
					<td th:if="${#fields.hasErrors('factor')}" th:errors="*{factor}">factor
						Error</td>
				</tr>
				<tr>
					<td>numOfPoints:</td>
					<td><input type="text" th:field="*{numOfPoints}" /></td>
					<td th:if="${#fields.hasErrors('numOfPoints')}"
						th:errors="*{numOfPoints}">numOfPoints Error</td>
				</tr>
				<tr>
					<td><button type="submit">Start calculation</button></td>
				</tr>
			</table>
		</form>

		<h2><a th:href="${'/user/' + p.user.id + '/product/' + p.id}">Back to <div th:remove="tag" th:utext="${p.type}"></div></a></h2>

	</div>

</body>
</html>