<!DOCTYPE html>
<html>
<head lang="en">

<title>Payment error</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>There was an error while paying for the product.</h2>

		<h2>
			<a th:href="@{/}">Back to products</a>
		</h2>

	</div>
</body>
</html>