<!DOCTYPE html>
<html>
<head lang="en">

<title>Payment result</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>Your payment was successful and <div th:remove="tag" th:utext="${productType}"></div> was added</h1>

		<h3>TODO: add a link to see the new product immediately</h3>
		
		<h2>
			<a th:href="@{/}">Back to products</a>
		</h2>

	</div>
</body>
</html>