<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

    <title>Your Products</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		
		<h2>Your active products</h2>

		<!-- No products table -->
		<div style="margin-top: 10px" th:if="${#lists.isEmpty(products)}">
			<table class="table table-striped">
				<tr>
					<th>Type</th>
					<th>Status</th>
					<th>Purchased</th>
					<th>Expires</th>
					<th>See calculations</th>
				</tr>
				<div th:if="${#lists.isEmpty(products)}">
					<tr>
						<td></td>
						<td>No active products found. Purchase or try out for free!</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</div>
			</table>
		</div>

		<div style="margin-top: 10px" th:if="${not #lists.isEmpty(products)}">
			<table class="table table-striped">
				<tr>
					<th>Type</th>
					<th>Status</th>
					<th>Purchased</th>
					<th>Expires</th>
					<th>See calculations</th>
				</tr>
				<tr th:each="p : ${products}">
					<td th:text="${p.type}"><a href="/user/${p.user.id}">Type</a></td>
					<td th:text="${p.status}">Status</td>
					<td th:text="${p.purchaseDate}">Purchased</td>
					<td th:text="${p.expirationDate}">Expires</td>
					<td><a th:href="${'/user/' + p.user.id + '/product/' + p.id}">Details</a></td>
				</tr>
			</table>

		</div>

		<div class="jumbotron">
			<h2>Choose a product and try it for free (3 free calculations)!</h2>
			<form>
				<table class="table table-striped">
					<tr>
						<th>Product</th>
						<th>Try 3 calculations for free</th>
						<th>Purchase</th>
					</tr>
					<tr>
						<td>Parabola</td>
						<td><a th:href="@{/user/try/parabola}" th:remove="${hasParabola} ? tag">Free trial</a></td>
						<td><a th:href="@{/user/purchase/parabola}" th:remove="${hasActiveParabola} ? tag">Purchase</a></td>
					</tr>
					<tr>
						<td>Hyperbola</td>
						<td><a th:href="@{/user/try/hyperbola}" th:remove="${hasHyperbola} ? tag">Free trial</a></td>
						<td><a th:href="@{/user/purchase/hyperbola}" th:remove="${hasActiveHyperbola} ? tag">Purchase</a></td>
					</tr>
				</table>
			</form>
		</div>


		<h2>You products history</h2>

		<div style="margin-top: 10px" th:if="${#lists.isEmpty(history)}">
			<table class="table table-striped">
				<tr>
					<th>Type</th>
					<th>Status</th>
					<th>Purchased</th>
					<th>Expired</th>
					<th>See calculations</th>
				</tr>
				<div th:if="${#lists.isEmpty(history)}">
				<tr>
					<td></td>
					<td>History is empty</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</div>
			</table>
		</div>

		<div style="margin-top: 10px" th:if="${not #lists.isEmpty(history)}">
			<table class="table table-striped">
				<tr>
					<th>Type</th>
					<th>Status</th>
					<th>Purchased</th>
					<th>Expired</th>
					<th>See calculations</th>
				</tr>
				<tr th:each="p : ${history}">
					<td th:text="${p.type}"><a href="/user/${p.user.id}">Type</a></td>
					<td th:text="${p.status}">Status</td>
					<td th:text="${p.purchaseDate}">Purchased</td>
					<td th:text="${p.expirationDate}">Expired</td>
					<td><a th:href="${'/user/' + p.user.id + '/product/' + p.id}">Details</a></td>
				</tr>
			</table>

		</div>

	</div>

</body>
</html>