<!DOCTYPE html>
 <html>
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

    <title th:text="${p.type}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h1>
			Your
			<div th:remove="tag" th:utext="${p.type}"></div>
		</h1>

		<h2>
			<!-- <div th:if="${isExpired}" th:remove="tag">Your product has expired, no new calculations can be done</div>  -->
			<a
				th:href="${'/user/' + p.user.id + '/product/' + p.id + '/' + p.type}"
				th:remove="${hasExpired} ? tag">New calculation</a>
		</h2>

		<!-- TOOD: output "You have no calculations yet" if the list is empty -->
		<h2>History</h2>

		<!-- Handle no calculations -->
		<div th:if="${#lists.isEmpty(history)}">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Created</th>
					<th>Started</th>
					<th>Finished</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td></td>
					<td>You have no finished calculations yet</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>


		<div th:if="${not #lists.isEmpty(history)}">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Created</th>
					<th>Started</th>
					<th>Finished</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
				<tr th:each="calc : ${history}">
					<td th:text="${calc.id}">Id</td>
					<td th:text="${calc.creationTime}">Created</td>
					<td th:text="${calc.startTime}">Started</td>
					<td th:text="${calc.finishTime}">Finished</td>
					<td th:text="${calc.status}">Status</td>
					<td><a
						th:href="${'/user/' + p.user.id + '/product/' + p.id  + '/' + calc.id}">See
							Details</a></td>
				</tr>
			</table>

		</div>

		<h2>
			<a th:href="${'/user/' + p.user.id}">Back to Products</a>
		</h2>

	</div>

</body>
</html>