<!DOCTYPE html>
<html>
<head lang="en">

<title>Purchase</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h1>
			You are going to purchase the product:
			<div th:remove="tag" th:utext="${productType}"></div>
		</h1>

		<h2>price is 1 UAH + 3% for the transfer</h2>

		<h2>
			By clicking "Pay" you agree to the <a>terms and conditions</a>
		</h2>

		<h3>TODO: add choosing the length of the subscription (365 days,
			60 days, 1 day, 1 hour)</h3>
		
		<form th:action="@{/user/stripe/} + ${userId} + @{/} + ${productType}" method="POST">
  			<script th:inline="javascript"
  				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
   				data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    			data-currency="eur"
    			data-amount="10000"
  	  			data-name="Stripe Checkout Demo"
    			data-description="Demo"
    			data-image="/spring-online-payments/resources/img/magoo.jpeg"
    			data-locale="auto"
    			data-bitcoin="true"
    			data-alipay="true">
  		
  			</script>
		</form>

		<h2>
			<a th:href="@{/}">Cancel</a>
		</h2>
	</div>
</body>
</html>