<!DOCTYPE html>
<html>
<head lang="en">

<title>Duplicate purchase</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>You already have this product. It is possible to have only one active copy of a product.</h2>

		<h2>
			<a th:href="@{/}">Back to products</a>
		</h2>

	</div>
</body>
</html>