<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

<title>Register</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/loginHeader :: header"></th:block> /*/-->

		<h1>Registration completed successfully. Please <a th:href="@{/login}">login</a> to proceed.</h1>

	</div>
</body>
</html>