<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

<title>Register</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/loginHeader :: header"></th:block> /*/-->

		<h1>Please please fill in all the fields below to register</h1>

		<form action="#" th:action="@{/register}" th:object="${registrationInfo}" method="post">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{firstName}"
						required="required" /></td>
					<td th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}">Name Error</td>
				</tr>
				<tr>
					<td>Surname:</td>
					<td><input type="text" th:field="*{lastName}"
						required="required" /></td>
					<td th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}">Surname Error</td>
				</tr>
				<tr>
					<td>E-mail (login):</td>
					<td><input type="text" th:field="*{email}" required="required" /></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail
						Error</td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}"
						required="required" /></td>
					<td th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Password Error</td>
				</tr>
				<tr>
					<td>Confirm password:</td>
					<td><input type="password" th:field="*{matchingPassword}"
						required="required" /></td>
					<td th:if="${#fields.hasErrors('matchingPassword')}"
						th:errors="*{matchingPassword}">Password Error</td>
				</tr>
				<tr>
					<input type="submit" value="Register" />
				</tr>
			</table>
			<ul th:if="${#fields.hasErrors('global')}">
				<li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input
					is incorrect</li>
			</ul>
		</form>

	</div>
</body>
</html>