<!DOCTYPE html>
 <html>
<head lang="en">
<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

    <title>Users</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h1>Current users</h1>
		
		<div th:if="${not #lists.isEmpty(users)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"><a href="/parabola/${calc.id}">Id</a></td>
                <td th:text="${user.email}">Login</td>
                <td th:text="${user.password}">Password</td>
                <td><a th:href="${'/user/' + user.id}">See Products</a></td>
            </tr>
        </table>
 
    </div>

	</div>

</body>
</html>